@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:ital,wght@1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100%;
    background: #22212C;
    color: #837E9F;
    font-family: Arial, Helvetica, sans-serif;
}

.container .col .card{
    background-color: #302F3D;
    -webkit-box-shadow: 6px 5px 26px -11px rgba(0,0,0,0.92); 
box-shadow: 6px 5px 26px -11px rgba(0,0,0,0.92);
margin-left: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    border: 3px solid green;
    
}
.container .col:first-child .card:first-child{
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .col:first-child .card:first-child h2{
    margin: 10px;
}
.container .col:first-child .card{
    
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
.container .col:nth-child(2){
    border: 2px solid red;
    width:100%;
}
.container .col:nth-child(2) .direction{
    display: flex;
    flex-direction: row;
}
.container .col:nth-child(2) .direction .card{
   
    width: 50%;
    margin-top: 30px;
    height: 186px;
    border-radius: 10px;
}
.container .col nav ul li{ list-style: none;}
.container .col nav ul{
    width: 100%;
    border: 2px solid purple;

    border-radius: 20px;

    display: flex;
    justify-content:space-between;
}
.container .col nav {
    margin: 30px;
    height: 86px;
    border-radius: 20px;
    border: 2px solid purple;
    background-color: #302F3D;
    -webkit-box-shadow: 6px 5px 26px -11px rgba(0,0,0,0.92); 
box-shadow: 6px 5px 26px -11px rgba(0,0,0,0.92);
}

.container .card .Profile{
    border: 2px;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    border: 2px solid #00ff00;
}

.container .card ul li{
    list-style: none;
}
.container .col:first-child .card p{
    font-size: small;
}
.container .col .card:nth-child(2) {
    vertical-align: middle;
}
.container .col:first-child .card:nth-child(3) .division {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .col:first-child .card:nth-child(3) .division a{
    margin: 15px;
    border-radius: 10px;
    background-color: #CB92B1;
    width: 86px;
    height: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .col:first-child .card:nth-child(3) h2{
    margin: 10px;
}
.container .col:first-child .card:nth-child(4) ul li{
    list-style: circle;
    margin-left: 7px;
    margin-top: 7px;
}
.container .col:first-child .card:nth-child(5) p{
    margin-top: 10px;
}

.container .col:first-child .card:nth-child(5) small{
    margin-top: 2px;
}
